In [5]:
import pandas as pd

df = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')

missed_data_2 = list( df[df.isna().any(axis=1)].index )

# display(df.head())

# def education_class(elem):
#     elem=elem.lower()
#     if 'неоконченное высшее' in elem:
#         elem = 'неоконченное высшее'
#     elif 'высшее' in elem:
#         elem = 'высшее'
#     if 'среднее специальное' in elem:
#         elem = 'среднее специальное'
#     elif 'среднее' in elem:
#         elem = 'среднее'    
#     return elem

# df['Образование'] = df['Образование и ВУЗ'].apply(education_class)

# # display(df[df['Образование'] == 'среднее'].head(5))
# df['Образование']=df['Образование'].astype('category')
# # df.info()
# # df.info()
# # df['Образование'].cat.categories

# df['Пол'] = df['Пол, возраст'].apply(
#     lambda x: 'М' if 'Мужчина' in x else 'Ж'
#     )

# df['Пол'].value_counts()

# df['Возраст'] = df['Пол, возраст'].apply(lambda x: int(x.split(' ')[3]) )
# df.head()

# def exprns(elem):
#     try:
#         counter = 0
#         elem = elem.split(' ')
#         if 'го' or 'ле' in elem[3]:
#             counter += int(elem[2])*12
        
#         if 'мес' in elem[3]:
#             counter += int(elem[2])
        
#         if 'мес' in elem[5]:
#             counter += int(elem[4])
        
#         return counter
    
#     except:
#         return None
    
# df['Опыт работы (месяц)'] = df['Опыт работы'].apply(exprns)

# df[df['Опыт работы (месяц)'] == 'NaN'].head()          



# def city_filling(elem):
#     million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 
#                   'Казань', 'Челябинск', 'Омск', 'Самара', 
#                   'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 
#                   'Воронеж', 'Волгоград' 
#                   ]
    
#     elem = elem.split(',')
#     city = ''

#     if 'Москва' in elem[0] or 'Санкт-Петер' in elem[0]:
#         city = elem[0]
#     elif elem[0] in million_cities:
#         city = 'город-миллионник'
#     else:
#         city = 'другие'
        
#     return city

# df['Город'] = df['Город, переезд, командировки'].apply(city_filling)

# df.head()


# # Функция для вычленения элемента тематики перезда и его обработка

# def relocate(elem):
#     elem = elem.split(',')
#     item_relocate = 'переезд'

#     for item_relocate in elem:
#         if item_relocate in elem:
#             if 'не' in elem:
#                 return False
#             else:
#                 return True
            

# # Функция для вычленения элемента тематики командировки и его обработка,

# def bis_trip(elem):
#     elem = elem.split(',')
#     item_bis_trip = 'коман'

#     if item_bis_trip in elem[-1]:
#         if 'не' in elem[-1]:
#             return False
#         else:
#             return True 
#     else:
#         return False 


# df['Готовность к переезду'] = df['Город, переезд, командировки'
#                                  ].apply(relocate)
# df['Готовность к командировкам'] = df['Город, переезд, командировки'
#                                       ].apply(bis_trip)


# df[df.isna().any(axis=1)]

print(missed_data_2)

print(df.info())

display(df[df['Опыт работы'].isna() == True])
display(df.loc[64, 118])

[64, 118, 330, 413, 1170, 1207, 1258, 2104, 2310, 2489, 2796, 3426, 3431, 3474, 3733, 3872, 3987, 4305, 4421, 4483, 4637, 4648, 4910, 5271, 5305, 5511, 5600, 5725, 5820, 5831, 6189, 6998, 7035, 7310, 7370, 7687, 7723, 8166, 8694, 8870, 8992, 9016, 9196, 9254, 9267, 9320, 9470, 9605, 9652, 9727, 10125, 10166, 10313, 10563, 10844, 11112, 11314, 11411, 12478, 12709, 13055, 13597, 14414, 14475, 14744, 14890, 14948, 15245, 15254, 15502, 15538, 15802, 16107, 16302, 17411, 17918, 18070, 18156, 18196, 18252, 18310, 18427, 18508, 18597, 18987, 19163, 19246, 19546, 19719, 20874, 21084, 21267, 21899, 21937, 22527, 22839, 22938, 23074, 23302, 23586, 23842, 23844, 23928, 23971, 25000, 25188, 25292, 25646, 25880, 26058, 26078, 26217, 26474, 26497, 26510, 26886, 27203, 27571, 28125, 28528, 28762, 29568, 29884, 29951, 29962, 30002, 31207, 31800, 31895, 32299, 33195, 33423, 33778, 34115, 34664, 34742, 34746, 35010, 35219, 36170, 36177, 36252, 36301, 36308, 36956, 37063, 38048, 38240, 38452, 38823, 38848, 38849, 39330, 39469, 39496, 39803, 39823, 40508, 40860, 41130, 41415, 41791, 42089, 42154, 43143, 43162, 43291, 43993, 44194, 44250]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB
None

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
64,"Мужчина , 33 года , родился 18 октября 1985",10000 руб.,Системный администратор,"Санкт-Петербург , не готов к переезду , не гот...",полная занятость,"гибкий график, удаленная работа",NaN,Санкт-Петербургский государственный университе...,Санкт-Петербургский колледж телекоммуникаций,Высшее образование 2009 Санкт-Петербургский г...,14.04.2019 00:04,Не указано
118,"Женщина , 40 лет , родилась 24 июля 1978",30000 руб.,Специалист в службу поддержки Медиасервисов Ян...,"Красноярск , не готова к переезду , не готова ...",полная занятость,полный день,NaN,ЧЛК,Забайкальский государственный гуманитарно-педа...,Высшее образование 2007 ЧЛК Экономика и бухгал...,17.04.2019 07:28,Не указано
330,"Мужчина , 21 год , родился 11 сентября 1997",50000 руб.,Мастер по ремонту компьютеров,"Новокузнецк , не готов к переезду , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график",NaN,Томский государственный университет систем упр...,Не указано,Неоконченное высшее образование 2021 Томский ...,16.04.2019 09:08,Имеется собственный автомобиль
413,"Мужчина , 25 лет , родился 28 апреля 1994",25000 руб.,SMM-менеджер,"Саранск , не готов к переезду , готов к команд...","проектная работа, частичная занятость, полная ...","гибкий график, полный день, сменный график",NaN,ФГБОУ ВПО МГУ им. Н.П. Огарева,Не указано,Высшее образование (Магистр) 2018 ФГБОУ ВПО МГ...,21.04.2019 15:48,Не указано
1170,"Мужчина , 22 года , родился 31 марта 1997",40000 руб.,Мастер по ремонту компьютеров,"Раменское , не готов к переезду , не готов к к...",полная занятость,полный день,NaN,ФЖАТ,Не указано,Среднее специальное образование 2017 ФЖАТ Прог...,15.04.2019 11:53,Не указано
...,...,...,...,...,...,...,...,...,...,...,...,...
43162,"Женщина , 31 год , родилась 24 января 1988",12000 руб.,Менеджер,"Оренбург , не готова к переезду , не готова к ...",полная занятость,полный день,NaN,Оренбургский Государственный Аграрный Университет,Не указано,Высшее образование 2010 Оренбургский Государст...,14.04.2019 10:17,Не указано
43291,"Мужчина , 22 года , родился 10 ноября 1996",100000 руб.,Ruby Developer,"Санкт-Петербург , не готов к переезду , готов ...",полная занятость,"гибкий график, полный день, удаленная работа",NaN,СТГМУ,Не указано,Неоконченное высшее образование 2018 СТГМУ Леч...,06.04.2019 23:36,Не указано
43993,"Мужчина , 22 года , родился 16 декабря 1996",25000 руб.,Программист-разработчик,"Санкт-Петербург , м. Проспект Просвещения , н...","проектная работа, частичная занятость",гибкий график,NaN,Санкт-Петербургский государственный университе...,Programming Languages and Tools Lab,Высшее образование 2018 Санкт-Петербургский г...,06.04.2019 09:37,Не указано
44194,"Мужчина , 19 лет , родился 15 марта 2000",15000 руб.,Программист-разработчик,"Симферополь , не готов к переезду , готов к ре...","стажировка, частичная занятость, полная занятость","удаленная работа, гибкий график, полный день",NaN,Таврический колледж Крымского Федерального Уни...,Не указано,Среднее специальное образование 2019 Таврическ...,26.04.2019 12:21,Не указано
44250,"Мужчина , 23 года , родился 20 августа 1995",20000 руб.,Курьер,"Москва , м. Южная , не готов к переезду , не ...",полная занятость,"гибкий график, полный день, сменный график",NaN,Калачевский техникум,Не указано,Среднее специальное образование 2018 Калачевск...,25.04.2019 13:56,Не указано

KeyError: 118

In [40]:
a = 'Москва , не готова к переезду , готова к кома..'

a = a.split(',')
a
item_relocate = 'переезд'

for elem in a:
    if item_relocate in elem:
        if 'не' in elem:
            print('False')
        else:
            print('True')

item_bis_trip = 'коман'

if item_bis_trip in a[-1]:
    if 'не' not in a[-1]:
        print('True')
    else:
        print('False') 
else:
    print('Flase nono') 

# for elem in a:
#     if item_bis_trip not in elem:
#         print('Flase nono')
        
#     else:
#         if item_bis_trip in elem:
#             if 'не' not in elem:
#                 print('True')
#             else:
#                 print('False')



# if item in a:
#     print(a)
# print(b)

False
Flase nono

In [10]:
a = 'Москва , не готова к переезду , готова к коман..'

a = a.split(',')

million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 
                'Казань', 'Челябинск', 'Омск', 'Самара', 
                'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 
                'Воронеж', 'Волгоград' 
                ]

if 'Москва' in a[0] or 'Санкт-Петер' in a[0]:
        print('Yep', a[0])
elif a[0] in million_cities:
        print('город-миллионник')
else:
        print('другие')

print(a[0])

type(a)

Yep Москва
Москва

list

In [31]:
a = 'Опыт работы 10 месяцев Август 2018 — по насто...'


def exprns(elem):
    try:
        counter = 0
        elem = elem.split(' ')
        if ('го' or 'ле') in elem[3]:
            counter += int(elem[2])*12
            print('1 ', counter)
            print(elem[3])
        
        if 'мес' in elem[3]:
            counter += int(elem[2])
            print('2 ', counter)
        
        if 'мес' in elem[5]:
            counter += int(elem[4])
            print('3 ', counter)
        
        return counter
    except:
        return None

exprns(a)

2  10

10

In [2]:
import pandas as pd

df= pd.DataFrame( { 'a': [1, 2], 'b': [3, 4] } )

def mult(elem):
    res=int(elem)
    return res*2

df['a'] = df['a'].apply(mult)

df

   a  b
0  2  3
1  4  4

In [3]:
prefer_work_type = ['полная занятость', 'частичная занятость', 
                    'проектная работа', 'волонтёрство', 'стажировка'
                    ]

for elem in prefer_work_type:
    print(elem)

полная занятость
частичная занятость
проектная работа
волонтёрство
стажировка

In [2]:


a = 'руб.'
print(a)

# if a.isalpha() == False:
#     print('fasf')
    
# else:
#     print('fasd')

# print('end')

a = ''.join(filter(str.isalnum, a))
print(a)

руб.
руб

In [4]:
currency = {
    'грн': 'UAH', 'USD' : 'USD', 'EUR' : 'EUR',
    'белруб' : 'BYN', 'KGS' : 'KGS', 'сум' : 'UZS',
     'AZN' : 'AZN', 'KZT' : 'KZT', 'руб' : 'RUB'
    }
currency['грн']
a = 'fd'
b = 'fg'

print(f'{a} {b}')

fd fg