In [1]:
import pandas as pd 

df = pd.read_csv('0E9162_38c2e345.csv')

In [2]:
df

,Timestamp,UTC,Callsign,Position,Altitude,Speed,Direction
0,1737112639,2025-01-17T11:17:19Z,NWC9162,"71.217361,72.058495",0,13,64
1,1737112647,2025-01-17T11:17:27Z,NWC9162,"71.217651,72.060547",0,12,64
2,1737112654,2025-01-17T11:17:34Z,NWC9162,"71.217834,72.061783",0,13,67
3,1737112664,2025-01-17T11:17:44Z,NWC9162,"71.218079,72.06356",0,13,64
4,1737112673,2025-01-17T11:17:53Z,NWC9162,"71.2183,72.065125",0,14,64
...,...,...,...,...,...,...,...
227,1737116480,2025-01-17T12:21:20Z,NWC9162,"64.66539,65.438416",32000,460,193
228,1737116513,2025-01-17T12:21:53Z,NWC9162,"64.598351,65.400467",32000,460,193
229,1737116544,2025-01-17T12:22:24Z,NWC9162,"64.534248,65.364418",31975,460,193
230,1737116577,2025-01-17T12:22:57Z,NWC9162,"64.467224,65.326797",31975,461,193
231,1737116607,2025-01-17T12:23:27Z,NWC9162,"64.402405,65.290977",32000,462,193