In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# Создание DF из исходного графика в формате эксель
scd_df = pd.read_excel('data/test_xl.xlsx')

n = 13

m = 'jan'

# jan_test_arr = (pd.DataFrame(scd_df.iloc[13]))[1:32].values
# jan_test_df = pd.DataFrame((pd.DataFrame(scd_df.iloc[13]))[1:32].values)
# jan_test_df = jan_test_df.rename(columns={0: 'jan'})

jan_arr_orig = (pd.DataFrame(scd_df.iloc[13]))[1:32].values
jan_arr = jan_arr_orig.reshape((1, 31))
jan_arr_df = pd.DataFrame(
    data = jan_arr, 
    columns = [list(range(1, 32))], 
    index = ['jan']  )

display(jan_arr_df)

feb_arr_orig = (pd.DataFrame(scd_df.iloc[15]))[1:32].values
feb_arr = feb_arr_orig.reshape((1, 31))
feb_arr_df = pd.DataFrame(
    data = feb_arr, 
    columns = [list(range(1, 32))], 
    index = ['feb']  )

display(feb_arr_df)

concatted = pd.concat([jan_arr_df, feb_arr_df]) 

display(concatted.info())

# feb_test_arr = (pd.DataFrame(scd_df.iloc[15]))[1:32].values
# feb_test_df = pd.DataFrame((pd.DataFrame(scd_df.iloc[15]))[1:32].values)
# feb_test_df = feb_test_df.rename(columns={0: 'feb'})

# mar_test_arr = (pd.DataFrame(scd_df.iloc[17]))[1:32].values
# mar_test_df = pd.DataFrame((pd.DataFrame(scd_df.iloc[17]))[1:32].values)
# mar_test_df = mar_test_df.rename(columns={0: 'mar'})

# print(mar_test_arr.shape)
# new_mar_arr = mar_test_arr.reshape((1, 31))
# print(new_mar_arr)
# df_test = pd.DataFrame(
#     data = new_mar_arr, 
#     columns = [list(range(1, 32))], 
#     index = ['mar']  )

# display(df_test)

# apr_test_arr = (pd.DataFrame(scd_df.iloc[20]))[1:32].values
# apr_test_df = pd.DataFrame((pd.DataFrame(scd_df.iloc[20]))[1:32].values)
# # apr_test_df['sallary'] = apr_test_df[0] * 100
# apr_test_df

# quarter_1_df = pd.concat( [jan_test_df, feb_test_df, mar_test_df], axis=1 )

# quarter_1_df.iloc[0]
# # scd_df[10:35]


# # df_test = pd.DataFrame(data = mar_test_arr, columns = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31], index = ['mar']  )

# # df_test = pd.DataFrame(data = mar_test_arr, columns=['mar'], index = list(range(1, 32))  )




# mar_test_arr_list = mar_test_arr.tolist()
# new_str = str(mar_test_arr_list)

# new_lst = []
# for elem in mar_test_arr_list:
#     if elem == ['В']:
#         new_lst.extend('В')

# new_lst

In [ ]:
import pandas as pd

df = pd.DataFrame()

In [ ]:
index_tst = list(range(1, 32))

print(index_tst)

In [ ]:
m = '11/7'

def data_conv(arg):
    try:
        arg = int(arg)
        return arg
    except:
        if '/' in arg:
            arg = arg.replace('/', ' ')
            arg = arg.split(' ')
            d = int(n[0]) + int(n[1])*0.4
            return d
        if arg == 'В':
            return 0

a = 'e'
a= int(a)

print(type(a))

In [ ]:
c = 6 % 2
if c % 2 == 0:
    print('yes')
print(c)

In [ ]:
import pandas as pd
import numpy as np

a = np.array([
    [1, 2, 3],
    [4, 5, 6]
] )

b = pd.DataFrame(data=a, index=[1, a.shape[0]], columns=list(range(1, (a.shape[1]+1))))
display(b)


def test_func(arg):
    print(type(arg))
    if arg % 2 == 0:
        
        return arg*2
    else:
        return arg
    
g = b.apply(lambda x:  x*2)

for elem in range(1, (a.shape[1]+1)):
    b[elem] = b[elem].apply(test_func)

h = np.array(g)

# ['a', 'b', 'c']

# c = list(range(1, (a.shape[1]+1)))
# print(c)
# print(a.shape)
# print(b)
print(b)
print(h)

In [71]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)


chts = 505.58
north_ratio = 60
bonus = 40

# Создание DF из исходного графика в формате эксель
scd_df = pd.read_excel('data/test_xl.xlsx')


date_keys = [(13, 'jan'), (15, 'feb'), (17, 'mar'), 
             (20, 'apr'), (22, 'may'), (24, 'jun'), 
             (28, 'july'), (30, 'aug'), (32, 'sep'), 
             (35, 'oct'), (37, 'nov'), (39, 'dec')
             ]

year_schdl_df = pd.DataFrame(columns = [list(range(1, 32))])

for elem in date_keys:
    mnth_arr_orig = (pd.DataFrame(scd_df.iloc[elem[0]]))[1:32].values
    mnth_arr = mnth_arr_orig.reshape((1, 31))
    mnth_arr_df = pd.DataFrame(
    data = mnth_arr, 
    columns = [list(range(1, 32))], 
    index = [elem[1]]  
    ) 
    year_schdl_df = pd.concat( [year_schdl_df, mnth_arr_df] )

# display(year_schdl_df)

def data_conv(elem):
    
    try:
        elem = int(elem)
        return elem
    
    except:            
        if '/' in elem:
            elem = elem.replace(' ', '')
            elem = elem.replace('/', ' ')
            elem = elem.split(' ')
            d = int(elem[0]) + int(elem[1])*0.4
            return d
        if elem == 'В':
            return 0
        else:
            return elem
            

for n in range(year_schdl_df.shape[0]):
    year_schdl_df.iloc[n] = year_schdl_df.iloc[n].apply(data_conv)
    
    
def money_convert(elem):
    try:
        pre_sallary = elem*chts*(1.8 + north_ratio/100)
        sallary = pre_sallary*(bonus/100)
        return pre_sallary, sallary
    except:
        return elem
    

# year_schdl_df = year_schdl_df.apply(data_conv)

year_schdl_df_copy = year_schdl_df.copy()

for n in range(year_schdl_df_copy.shape[0]):
    year_schdl_df_copy.iloc[n] = year_schdl_df_copy.iloc[n].apply(money_convert)

jan_pre = 0
jan_sal = 0





for n in range(1,16):
    jan_pre+=year_schdl_df_copy.iloc[0][n][0]
    
for n in range(1,(year_schdl_df_copy.shape[1]+1)):
    if n <= 15:
        jan_sal += year_schdl_df_copy.iloc[0][n][1]
        
    if n>15:
        jan_sal+= (year_schdl_df_copy.iloc[0][n][0] + year_schdl_df_copy.iloc[0][n][1])
        
# year_schdl_df_copy.iloc[0][1][0]
# for n in range(1,16):
#     print(n)

# year_schdl_df_copy.iloc[0][32][1]

print(jan_pre)

print(round(jan_sal,2))

summary = pd.DataFrame(columns=['pre_sal', 'sal'])
summary.loc['jan'] = jan_pre, round(jan_sal*0.87, 2)

summary

year_schdl_df_bonus = year_schdl_df.copy()

year_schdl_df_bonus.iloc[6] = year_schdl_df_bonus.iloc[6].apply(lambda x: x if x.is_integer() else 0 )

year_schdl_df_bonus

0.0
172253.13

C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
jan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8
feb,13.8,13.8,13.8,13.8,13.8,13.8,9.0,10,10,10,10,10,10,10,10,10,10,10,10,10,5,0,0,0,0,0,0,0,0,х,х
mar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8
apr,13.8,13.8,9.0,10,10,10,10,10,10,10,10,10,10,10,10,10,5,0,0,0,0,0,0,0,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,х
may,0,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,0,ОТ,ОТ,ОТ,0,0,4.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,9.0,10,10
jun,10,10,10,10,10,10,10,10,10,10,10,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,х
july,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
aug,10,10,10,10,10,10,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ
sep,ОТ,0,0,4.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,9.0,10,10,10,10,10,10,10,10,10,10,10,10,х
oct,10.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.8,13.8
nov,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,13.8,9.0,10,10,10,10,10,10,10,10,10,10,10,10,10,5,0,0,0,х
dec,0,0,0,0,0,0,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,0,0,4.8,13.8,13.8,13.8,13.8,13.8,13.8

In [ ]:
for elem in range(1, 32):
    print(elem)

In [ ]:
import pandas as pd
import numpy as np

a = np.array([
    [1, 2, 3],
    [4, 5, 6]
] )

b = pd.DataFrame(data=a, index=[1, a.shape[0]], columns=list(range(1, (a.shape[1]+1))))
b[1]=b[1].apply(lambda x: 2)
b

In [39]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# chts = input('Введите свою часовую тарифную ставку')
# north_ratio = input('Введите размер своей северно надбавки, в процентах')
# bonus = input('Введите размер премиальной части в процентах')
# alms = input('Введите размер надбавки за вахтовый метод работы')
# canteen = input('Введите средний чек в столовой за 1 день')

# chts = chts.replace(',','.')
# chts = float(chts)
# north_ratio = float(north_ratio)
# bonus = float(bonus)
# alms = float(alms)
# canteen = float(canteen)

chts = 505.58
north_ratio = 60
bonus = 40
alms = 363
canteen = 1150

# Создание DF из исходного графика в формате эксель
scd_df = pd.read_excel('data/myself_2024.xlsx')

# Вспомогательный список с номера строк и месяцами исходного DF
date_keys = [(13, 'jan'), (15, 'feb'), (17, 'mar'), 
             (20, 'apr'), (22, 'may'), (24, 'jun'), 
             (28, 'july'), (30, 'aug'), (32, 'sep'), 
             (35, 'oct'), (37, 'nov'), (39, 'dec')
             ]


year_schdl_df = pd.DataFrame(columns = [list(range(1, 32))])

### Цикл, создание DF, дублирующего оригинальный эксель график
for elem in date_keys:
    mnth_arr_orig = (pd.DataFrame(scd_df.iloc[elem[0]]))[1:32].values
    mnth_arr = mnth_arr_orig.reshape((1, 31))
    mnth_arr_df = pd.DataFrame(
    data = mnth_arr, 
    columns = [list(range(1, 32))], 
    index = [elem[1]]  
    ) 
    year_schdl_df = pd.concat( [year_schdl_df, mnth_arr_df] )



###
### Фнукция для конвертации значений в часовые значения
###
def data_conv(elem):
    
    try:
        elem = int(elem)
        return elem
    
    except:            
        if '/' in elem:
            elem = elem.replace(' ', '')
            elem = elem.replace('/', ' ')
            elem = elem.split(' ')
            d = int(elem[0]) + int(elem[1])*0.4
            return d
        if elem == 'В' or elem == 'в':
            return 0
        if elem == 'ОТ' or elem == 'от':
            return 'ОТ'
        else:
            return 0
            

### Преобразование DF в DF, где в ячейках часы

for n in range(year_schdl_df.shape[0]):
    year_schdl_df.iloc[n] = year_schdl_df.iloc[n].apply(data_conv)

### Список праздничных дней    
holidays = [(0,1), (0,2), (0,3), (0,4), 
            (0,5), (0,6), (0,7), (0,8),
            (1,23), (2,8), (4,1), (4,9),
            (5,12), (10,4)]

### Преобразование часов в year_schdl_df с учетом прздничных дней (умножаем на 2)
for elem in holidays:
    year_schdl_df.iloc[elem[0]][elem[1]] = year_schdl_df.iloc[elem[0]][elem[1]]*2

###
### Фнукция для конвертации часовых значений в денежные. На выходе кортеж
###    
def money_convert(elem):
    try:
        pre_sallary = elem*chts*(1.8 + north_ratio/100)
        sallary = pre_sallary*(bonus/100)
        return pre_sallary, sallary
    except:
        return elem
    


### Создание нового DF, где значения ячеек - кортежи (аванс, зарплата)
year_schdl_money = year_schdl_df.copy()

for n in range(year_schdl_money.shape[0]):
    year_schdl_money.iloc[n] = year_schdl_money.iloc[n].apply(money_convert)
###



###
### Фнукция для создание итогового DF с приходом ДС на карту (на руки)
###   
def summary_tab(elem):
    summary = pd.DataFrame(
        columns=['14ое', '29ое'], 
        index= ['Январь', 'Февраль', 'Март', 'Апрель', 'Май',
            'Июнь', 'Июль', 'Август', 'Сентябрь',
            'Октябрь', 'Ноябрь', 'Декабрь', 'Январь' ] )
    
    df = elem.copy()
    for month in range (12):
        df.iloc[month] = df.iloc[month].apply(
            lambda x: x if type(x) is tuple else (0,0) 
            )
    
    m=0
    count_above_25 = 0
    
    for m in range(12):
        # print('there is',elem, 'end of elem')
        presallary = 0
        sallary = 0
        count_upto_25 = 0
        
        
        for day in range(1,26):
            if (df.iloc[m][day][0] + df.iloc[m][day][1]) > 0:
                count_upto_25 += 1
        
        for day in range(26,31):
            if (df.iloc[m][day][0] + df.iloc[m][day][1]) > 0:
                count_above_25 += 1 
        
        for n in range(1,16):
            presallary += (df.iloc[m][n][0] + alms)
            
        for n in range(1,(df.shape[1]+1)):
            if n <= 15:
                sallary += df.iloc[m][n][1]
                
            if n>15:
                sallary += (df.iloc[m][n][0] + df.iloc[m][n][1] + alms)
        
       
        
        summary.iloc[m][1] = round(presallary*0.87, 2)
        summary.iloc[m+1][0] = round((sallary-canteen*(count_upto_25+count_above_25))*0.87,2)
        count_above_25 = 0        
        m+=1
    
    
    return summary    

      

###
### Фнукция для расчета премии за 1 полугодие
###

def bonus_1(elem):

    year_schdl_df_bonus = elem.copy()

    for n in range (0,6):
        year_schdl_df_bonus.iloc[n] = year_schdl_df_bonus.iloc[n].apply(
            lambda x: x if (type(x)==int or type(x)==float) else 0 
            )

    # type(year_schdl_df_bonus.iloc[8][1])

    hrs_sum = 0

    for n in range (0,6):
        hrs_sum+= year_schdl_df_bonus.iloc[n].sum()

    year_schdl_df_bonus
    hrs_sum
    bonus = hrs_sum*chts*(1.8 + north_ratio/100)*0.87*0.2
    return bonus
print('Премия за 1 полугодие', round(bonus_1(year_schdl_df), 2))

###
### Фнукция для расчета премии за 2 полугодие
###

def bonus_2(elem):

    year_schdl_df_bonus = elem.copy()

    for n in range (6,12):
        year_schdl_df_bonus.iloc[n] = year_schdl_df_bonus.iloc[n].apply(
            lambda x: x if (type(x)==int or type(x)==float) else 0 
            )

    # type(year_schdl_df_bonus.iloc[8][1])

    hrs_sum = 0

    for n in range (6,12):
        hrs_sum+= year_schdl_df_bonus.iloc[n].sum()

    year_schdl_df_bonus
    hrs_sum
    bonus = hrs_sum*chts*(1.8 + north_ratio/100)*0.87*0.25
    return bonus
# print('Премия за 2 полугодие', round(bonus_2(year_schdl_df), 2))



# print(year_schdl_money.apply(summary_tab))


summary_df = summary_tab(year_schdl_money)

display(summary_df)
# summary_df.to_excel('data\sallary_2024.xlsx')

Премия за 1 полугодие 208934.45

C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\943838657.py:88: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  year_schdl_df.iloc[elem[0]][elem[1]] = year_schdl_df.iloc[elem[0]][elem[1]]*2
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\943838657.py:158: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  summary.iloc[m][1] = round(presallary*0.87, 2)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\943838657.py:158: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  summary.iloc[m][1] = round(presallary*0.87, 2)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\943838657.py:159: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  summary.iloc[m+1][0] = round((sallary-canteen*(count_upto_25+count_above_25))*0.87,2)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\943838657.py:159: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  summary.iloc[m+1][0] = round((sallary-canteen*(count_upto_25+count_above_25))*0.87,2)

               14ое       29ое
Январь          NaN    4737.15
Февраль   147909.68   186098.0
Март      137871.93    4737.15
Апрель    225488.39   170052.1
Май        76339.11    9804.27
Июнь      299068.56  131415.27
Июль       43718.21    82644.2
Август    295121.71   73354.47
Сентябрь   25496.39   170052.1
Октябрь   275606.38   20571.92
Ноябрь     35874.52  224734.83
Декабрь   235998.35    4737.15
Январь     128515.0        NaN

In [108]:
chts = input('Введите свою часовую тарифную ставку')
north_ratio = input('Введите размер своей северно надбавки, в процентах')
bonus = input('Введите размер премиальной части в процентах')
alms = input('Введите размер надбавки за вахтовый метод работы')
canteen = input('Введите средний чек в столовой за 1 день')

chts = chts.replace(',','.')
chts = float(chts)
north_ratio = float(north_ratio)
bonus = float(bonus)
alms = float(alms)
canteen = float(canteen)

<class 'float'>
606.78

# СЕРГЕЙ:

In [28]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# chts = input('Введите свою часовую тарифную ставку')
# north_ratio = input('Введите размер своей северно надбавки, в процентах')
# bonus = input('Введите размер премиальной части в процентах')
# alms = input('Введите размер надбавки за вахтовый метод работы')
# canteen = input('Введите средний чек в столовой за 1 день')

# chts = chts.replace(',','.')
# chts = float(chts)
# north_ratio = float(north_ratio)
# bonus = float(bonus)
# alms = float(alms)
# canteen = float(canteen)

# 659.26
# 692.22

chts = 659.26
north_ratio = 60
bonus = 40
alms = 363
canteen = 1150

# Создание DF из исходного графика в формате эксель
scd_df = pd.read_excel('data/sergei.xlsx')

# Вспомогательный список с номера строк и месяцами исходного DF
date_keys = [(13, 'jan'), (15, 'feb'), (17, 'mar'), 
             (20, 'apr'), (22, 'may'), (24, 'jun'), 
             (28, 'july'), (30, 'aug'), (32, 'sep'), 
             (35, 'oct'), (37, 'nov'), (39, 'dec')
             ]


year_schdl_df = pd.DataFrame(columns = [list(range(1, 32))])

### Цикл, создание DF, дублирующего оригинальный эксель график
for elem in date_keys:
    mnth_arr_orig = (pd.DataFrame(scd_df.iloc[elem[0]]))[1:32].values
    mnth_arr = mnth_arr_orig.reshape((1, 31))
    mnth_arr_df = pd.DataFrame(
    data = mnth_arr, 
    columns = [list(range(1, 32))], 
    index = [elem[1]]  
    ) 
    year_schdl_df = pd.concat( [year_schdl_df, mnth_arr_df] )



###
### Фнукция для конвертации значений в часовые значения
###
def data_conv(elem):
    
    try:
        elem = int(elem)
        return elem
    
    except:            
        if '/' in elem:
            elem = elem.replace(' ', '')
            elem = elem.replace('/', ' ')
            elem = elem.split(' ')
            d = int(elem[0]) + int(elem[1])*0.4
            return d
        if elem == 'В' or elem == 'в':
            return 0
        if elem == 'ОТ' or elem == 'от':
            return 'ОТ'
        else:
            return 0
            

### Преобразование DF в DF, где в ячейках часы

for n in range(year_schdl_df.shape[0]):
    year_schdl_df.iloc[n] = year_schdl_df.iloc[n].apply(data_conv)

### Список праздничных дней    
holidays = [(0,1), (0,2), (0,3), (0,4), 
            (0,5), (0,6), (0,7), (0,8),
            (1,23), (2,8), (4,1), (4,9),
            (5,12), (10,4)]

### Преобразование часов в year_schdl_df с учетом прздничных дней (умножаем на 2)
for elem in holidays:
    year_schdl_df.iloc[elem[0]][elem[1]] = year_schdl_df.iloc[elem[0]][elem[1]]*2

###
### Фнукция для конвертации часовых значений в денежные. На выходе кортеж
###    
def money_convert(elem):
    try:
        pre_sallary = elem*chts*(1.8 + north_ratio/100)
        sallary = pre_sallary*(bonus/100)
        return pre_sallary, sallary
    except:
        return elem
    


### Создание нового DF, где значения ячеек - кортежи (аванс, зарплата)
year_schdl_money = year_schdl_df.copy()

for n in range(year_schdl_money.shape[0]):
    year_schdl_money.iloc[n] = year_schdl_money.iloc[n].apply(money_convert)
###



###
### Фнукция для создание итогового DF с приходом ДС на карту (на руки)
###   
def summary_tab(elem):
    summary = pd.DataFrame(
        columns=['14ое', '29ое'], 
        index= ['Январь', 'Февраль', 'Март', 'Апрель', 'Май',
            'Июнь', 'Июль', 'Август', 'Сентябрь',
            'Октябрь', 'Ноябрь', 'Декабрь', 'Январь' ] )
    
    df = elem.copy()
    for month in range (12):
        df.iloc[month] = df.iloc[month].apply(
            lambda x: x if type(x) is tuple else (0,0) 
            )
    
    m=0
    count_above_25 = 0
    
    for m in range(12):
        # print('there is',elem, 'end of elem')
        presallary = 0
        sallary = 0
        count_upto_25 = 0
        
        
        for day in range(1,26):
            if (df.iloc[m][day][0] + df.iloc[m][day][1]) > 0:
                count_upto_25 += 1
        
        for day in range(26,31):
            if (df.iloc[m][day][0] + df.iloc[m][day][1]) > 0:
                count_above_25 += 1 
        
        for n in range(1,16):
            presallary += (df.iloc[m][n][0] + alms)
            
        for n in range(1,(df.shape[1]+1)):
            if n <= 15:
                sallary += df.iloc[m][n][1]
                
            if n>15:
                sallary += (df.iloc[m][n][0] + df.iloc[m][n][1] + alms)
        
       
        
        summary.iloc[m][1] = round(presallary*0.87, 2)
        summary.iloc[m+1][0] = round((sallary-canteen*(count_upto_25+count_above_25))*0.87,2)
        count_above_25 = 0        
        m+=1
    
    
    return summary    

      

###
### Фнукция для расчета премии за 1 полугодие
###

def bonus_1(elem):

    year_schdl_df_bonus = elem.copy()

    for n in range (0,6):
        year_schdl_df_bonus.iloc[n] = year_schdl_df_bonus.iloc[n].apply(
            lambda x: x if (type(x)==int or type(x)==float) else 0 
            )

    # type(year_schdl_df_bonus.iloc[8][1])

    hrs_sum = 0

    for n in range (0,6):
        hrs_sum+= year_schdl_df_bonus.iloc[n].sum()

    year_schdl_df_bonus
    hrs_sum
    bonus = hrs_sum*chts*(1.8 + north_ratio/100)*0.87*0.2
    return bonus
# print('Премия за 1 полугодие', round(bonus_1(year_schdl_df), 2))

###
### Фнукция для расчета премии за 2 полугодие
###

def bonus_2(elem):

    year_schdl_df_bonus = elem.copy()

    for n in range (6,12):
        year_schdl_df_bonus.iloc[n] = year_schdl_df_bonus.iloc[n].apply(
            lambda x: x if (type(x)==int or type(x)==float) else 0 
            )

    # type(year_schdl_df_bonus.iloc[8][1])

    hrs_sum = 0

    for n in range (6,12):
        hrs_sum+= year_schdl_df_bonus.iloc[n].sum()

    year_schdl_df_bonus
    hrs_sum
    bonus = hrs_sum*chts*(1.8 + north_ratio/100)*0.87*0.25
    return bonus
# print('Премия за 2 полугодие', round(bonus_2(year_schdl_df), 2))



# print(year_schdl_money.apply(summary_tab))


# display(summary_tab(year_schdl_money))

Премия за 1 полугодие 251630.58

C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\3405372591.py:91: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  year_schdl_df.iloc[elem[0]][elem[1]] = year_schdl_df.iloc[elem[0]][elem[1]]*2

# Сергей П

In [31]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# chts = input('Введите свою часовую тарифную ставку')
# north_ratio = input('Введите размер своей северно надбавки, в процентах')
# bonus = input('Введите размер премиальной части в процентах')
# alms = input('Введите размер надбавки за вахтовый метод работы')
# canteen = input('Введите средний чек в столовой за 1 день')

# chts = chts.replace(',','.')
# chts = float(chts)
# north_ratio = float(north_ratio)
# bonus = float(bonus)
# alms = float(alms)
# canteen = float(canteen)

chts = 318.98
north_ratio = 50
bonus = 40
alms = 363
canteen = 600

# Создание DF из исходного графика в формате эксель
scd_df = pd.read_excel('data/sergei_p.xlsx')

# Вспомогательный список с номера строк и месяцами исходного DF
date_keys = [(13, 'jan'), (15, 'feb'), (17, 'mar'), 
             (20, 'apr'), (22, 'may'), (24, 'jun'), 
             (28, 'july'), (30, 'aug'), (32, 'sep'), 
             (35, 'oct'), (37, 'nov'), (39, 'dec')
             ]


year_schdl_df = pd.DataFrame(columns = [list(range(1, 32))])

### Цикл, создание DF, дублирующего оригинальный эксель график
for elem in date_keys:
    mnth_arr_orig = (pd.DataFrame(scd_df.iloc[elem[0]]))[1:32].values
    mnth_arr = mnth_arr_orig.reshape((1, 31))
    mnth_arr_df = pd.DataFrame(
    data = mnth_arr, 
    columns = [list(range(1, 32))], 
    index = [elem[1]]  
    ) 
    year_schdl_df = pd.concat( [year_schdl_df, mnth_arr_df] )



###
### Фнукция для конвертации значений в часовые значения
###
def data_conv(elem):
    
    try:
        elem = int(elem)
        return elem
    
    except:            
        if '/' in elem:
            elem = elem.replace(' ', '')
            elem = elem.replace('/', ' ')
            elem = elem.split(' ')
            d = int(elem[0]) + int(elem[1])*0.4
            return d
        if elem == 'В' or elem == 'в':
            return 0
        if elem == 'ОТ' or elem == 'от':
            return 'ОТ'
        else:
            return 0
            

### Преобразование DF в DF, где в ячейках часы

for n in range(year_schdl_df.shape[0]):
    year_schdl_df.iloc[n] = year_schdl_df.iloc[n].apply(data_conv)

### Список праздничных дней    
holidays = [(0,1), (0,2), (0,3), (0,4), 
            (0,5), (0,6), (0,7), (0,8),
            (1,23), (2,8), (4,1), (4,9),
            (5,12), (10,4)]

### Преобразование часов в year_schdl_df с учетом прздничных дней (умножаем на 2)
for elem in holidays:
    year_schdl_df.iloc[elem[0]][elem[1]] = year_schdl_df.iloc[elem[0]][elem[1]]*2

###
### Фнукция для конвертации часовых значений в денежные. На выходе кортеж
###    
def money_convert(elem):
    try:
        pre_sallary = elem*chts*(1.8 + north_ratio/100)
        sallary = pre_sallary*(bonus/100)
        return pre_sallary, sallary
    except:
        return elem
    


### Создание нового DF, где значения ячеек - кортежи (аванс, зарплата)
year_schdl_money = year_schdl_df.copy()

for n in range(year_schdl_money.shape[0]):
    year_schdl_money.iloc[n] = year_schdl_money.iloc[n].apply(money_convert)
###



###
### Фнукция для создание итогового DF с приходом ДС на карту (на руки)
###   
def summary_tab(elem):
    summary = pd.DataFrame(
        columns=['14ое', '29ое'], 
        index= ['Январь', 'Февраль', 'Март', 'Апрель', 'Май',
            'Июнь', 'Июль', 'Август', 'Сентябрь',
            'Октябрь', 'Ноябрь', 'Декабрь', 'Январь' ] )
    
    df = elem.copy()
    for month in range (12):
        df.iloc[month] = df.iloc[month].apply(
            lambda x: x if type(x) is tuple else (0,0) 
            )
    
    m=0
    count_above_25 = 0
    
    for m in range(12):
        # print('there is',elem, 'end of elem')
        presallary = 0
        sallary = 0
        count_upto_25 = 0
        
        
        for day in range(1,26):
            if (df.iloc[m][day][0] + df.iloc[m][day][1]) > 0:
                count_upto_25 += 1
        
        for day in range(26,31):
            if (df.iloc[m][day][0] + df.iloc[m][day][1]) > 0:
                count_above_25 += 1 
        
        for n in range(1,16):
            presallary += (df.iloc[m][n][0] + alms)
            
        for n in range(1,(df.shape[1]+1)):
            if n <= 15:
                sallary += df.iloc[m][n][1]
                
            if n>15:
                sallary += (df.iloc[m][n][0] + df.iloc[m][n][1] + alms)
        
       
        
        summary.iloc[m][1] = round(presallary*0.87, 2)
        summary.iloc[m+1][0] = round((sallary-canteen*(count_upto_25+count_above_25))*0.87,2)
        count_above_25 = 0        
        m+=1
    
    
    return summary    

      

###
### Фнукция для расчета премии за 1 полугодие
###

def bonus_1(elem):

    year_schdl_df_bonus = elem.copy()

    for n in range (0,6):
        year_schdl_df_bonus.iloc[n] = year_schdl_df_bonus.iloc[n].apply(
            lambda x: x if (type(x)==int or type(x)==float) else 0 
            )

    # type(year_schdl_df_bonus.iloc[8][1])

    hrs_sum = 0

    for n in range (0,6):
        hrs_sum+= year_schdl_df_bonus.iloc[n].sum()

    year_schdl_df_bonus
    hrs_sum
    bonus = hrs_sum*chts*(1.8 + north_ratio/100)*0.87*0.2
    return bonus
print('Премия за 1 полугодие', round(bonus_1(year_schdl_df), 2))

###
### Фнукция для расчета премии за 2 полугодие
###

def bonus_2(elem):

    year_schdl_df_bonus = elem.copy()

    for n in range (6,12):
        year_schdl_df_bonus.iloc[n] = year_schdl_df_bonus.iloc[n].apply(
            lambda x: x if (type(x)==int or type(x)==float) else 0 
            )

    # type(year_schdl_df_bonus.iloc[8][1])

    hrs_sum = 0

    for n in range (6,12):
        hrs_sum+= year_schdl_df_bonus.iloc[n].sum()

    year_schdl_df_bonus
    hrs_sum
    bonus = hrs_sum*chts*(1.8 + north_ratio/100)*0.87*0.25
    return bonus
# print('Премия за 2 полугодие', round(bonus_2(year_schdl_df), 2))



# print(year_schdl_money.apply(summary_tab))


# display(summary_tab(year_schdl_money))

Премия за 1 полугодие 118822.01

C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\1096077376.py:88: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  year_schdl_df.iloc[elem[0]][elem[1]] = year_schdl_df.iloc[elem[0]][elem[1]]*2

# Сергей Б

In [44]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# chts = input('Введите свою часовую тарифную ставку')
# north_ratio = input('Введите размер своей северно надбавки, в процентах')
# bonus = input('Введите размер премиальной части в процентах')
# alms = input('Введите размер надбавки за вахтовый метод работы')
# canteen = input('Введите средний чек в столовой за 1 день')

# chts = chts.replace(',','.')
# chts = float(chts)
# north_ratio = float(north_ratio)
# bonus = float(bonus)
# alms = float(alms)
# canteen = float(canteen)

chts = 460
north_ratio = 80
bonus = 40
alms = 363
canteen = 700

# Создание DF из исходного графика в формате эксель
scd_df = pd.read_excel('data/sergei_b.xlsx')

# Вспомогательный список с номера строк и месяцами исходного DF
date_keys = [(13, 'jan'), (15, 'feb'), (17, 'mar'), 
             (20, 'apr'), (22, 'may'), (24, 'jun'), 
             (28, 'july'), (30, 'aug'), (32, 'sep'), 
             (35, 'oct'), (37, 'nov'), (39, 'dec')
             ]


year_schdl_df = pd.DataFrame(columns = [list(range(1, 32))])

### Цикл, создание DF, дублирующего оригинальный эксель график
for elem in date_keys:
    mnth_arr_orig = (pd.DataFrame(scd_df.iloc[elem[0]]))[1:32].values
    mnth_arr = mnth_arr_orig.reshape((1, 31))
    mnth_arr_df = pd.DataFrame(
    data = mnth_arr, 
    columns = [list(range(1, 32))], 
    index = [elem[1]]  
    ) 
    year_schdl_df = pd.concat( [year_schdl_df, mnth_arr_df] )



###
### Фнукция для конвертации значений в часовые значения
###
def data_conv(elem):
    
    try:
        elem = int(elem)
        return elem
    
    except:            
        if '/' in elem:
            elem = elem.replace(' ', '')
            elem = elem.replace('/', ' ')
            elem = elem.split(' ')
            d = int(elem[0]) + int(elem[1])*0.4
            return d
        if elem == 'В' or elem == 'в':
            return 0
        if elem == 'ОТ' or elem == 'от':
            return 'ОТ'
        else:
            return 0
            

### Преобразование DF в DF, где в ячейках часы

for n in range(year_schdl_df.shape[0]):
    year_schdl_df.iloc[n] = year_schdl_df.iloc[n].apply(data_conv)

### Список праздничных дней    
holidays = [(0,1), (0,2), (0,3), (0,4), 
            (0,5), (0,6), (0,7), (0,8),
            (1,23), (2,8), (4,1), (4,9),
            (5,12), (10,4)]

### Преобразование часов в year_schdl_df с учетом прздничных дней (умножаем на 2)
for elem in holidays:
    year_schdl_df.iloc[elem[0]][elem[1]] = year_schdl_df.iloc[elem[0]][elem[1]]*2

###
### Фнукция для конвертации часовых значений в денежные. На выходе кортеж
###    
def money_convert(elem):
    try:
        pre_sallary = elem*chts*(1.8 + north_ratio/100)
        sallary = pre_sallary*(bonus/100)
        return pre_sallary, sallary
    except:
        return elem
    


### Создание нового DF, где значения ячеек - кортежи (аванс, зарплата)
year_schdl_money = year_schdl_df.copy()

for n in range(year_schdl_money.shape[0]):
    year_schdl_money.iloc[n] = year_schdl_money.iloc[n].apply(money_convert)
###



###
### Фнукция для создание итогового DF с приходом ДС на карту (на руки)
###   
def summary_tab(elem):
    summary = pd.DataFrame(
        columns=['14ое', '29ое'], 
        index= ['Январь', 'Февраль', 'Март', 'Апрель', 'Май',
            'Июнь', 'Июль', 'Август', 'Сентябрь',
            'Октябрь', 'Ноябрь', 'Декабрь', 'Январь' ] )
    
    df = elem.copy()
    for month in range (12):
        df.iloc[month] = df.iloc[month].apply(
            lambda x: x if type(x) is tuple else (0,0) 
            )
    
    m=0
    count_above_25 = 0
    
    for m in range(12):
        # print('there is',elem, 'end of elem')
        presallary = 0
        sallary = 0
        count_upto_25 = 0
        
        
        for day in range(1,26):
            if (df.iloc[m][day][0] + df.iloc[m][day][1]) > 0:
                count_upto_25 += 1
        
        for day in range(26,31):
            if (df.iloc[m][day][0] + df.iloc[m][day][1]) > 0:
                count_above_25 += 1 
        
        for n in range(1,16):
            presallary += (df.iloc[m][n][0] + alms)
            
        for n in range(1,(df.shape[1]+1)):
            if n <= 15:
                sallary += df.iloc[m][n][1]
                
            if n>15:
                sallary += (df.iloc[m][n][0] + df.iloc[m][n][1] + alms)
        
       
        
        summary.iloc[m][1] = round(presallary*0.87, 2)
        summary.iloc[m+1][0] = round((sallary-canteen*(count_upto_25+count_above_25))*0.87,2)
        count_above_25 = 0        
        m+=1
    
    
    return summary    

      

###
### Фнукция для расчета премии за 1 полугодие
###

def bonus_1(elem):

    year_schdl_df_bonus = elem.copy()

    for n in range (0,6):
        year_schdl_df_bonus.iloc[n] = year_schdl_df_bonus.iloc[n].apply(
            lambda x: x if (type(x)==int or type(x)==float) else 0 
            )

    # type(year_schdl_df_bonus.iloc[8][1])

    hrs_sum = 0

    for n in range (0,6):
        hrs_sum+= year_schdl_df_bonus.iloc[n].sum()

    year_schdl_df_bonus
    hrs_sum
    bonus = hrs_sum*chts*(1.8 + north_ratio/100)*0.87*0.2
    return bonus
print('Премия за 1 полугодие', round(bonus_1(year_schdl_df), 2))

###
### Фнукция для расчета премии за 2 полугодие
###

def bonus_2(elem):

    year_schdl_df_bonus = elem.copy()

    for n in range (6,12):
        year_schdl_df_bonus.iloc[n] = year_schdl_df_bonus.iloc[n].apply(
            lambda x: x if (type(x)==int or type(x)==float) else 0 
            )

    # type(year_schdl_df_bonus.iloc[8][1])

    hrs_sum = 0

    for n in range (6,12):
        hrs_sum+= year_schdl_df_bonus.iloc[n].sum()

    year_schdl_df_bonus
    hrs_sum
    bonus = hrs_sum*chts*(1.8 + north_ratio/100)*0.87*0.25
    return bonus
# print('Премия за 2 полугодие', round(bonus_2(year_schdl_df), 2))



# print(year_schdl_money.apply(summary_tab))


summary_df = summary_tab(year_schdl_money)

display(summary_df)
summary_df.to_excel('data\sergei_b.xlsx')

<>:228: SyntaxWarning: invalid escape sequence '\s'
<>:228: SyntaxWarning: invalid escape sequence '\s'
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\2816980495.py:228: SyntaxWarning: invalid escape sequence '\s'
  summary_df.to_excel('data\sergei_b.xlsx')
C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\2816980495.py:88: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  year_schdl_df.iloc[elem[0]][elem[1]] = year_schdl_df.iloc[elem[0]][elem[1]]*2

Премия за 1 полугодие 190415.16

C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\2816980495.py:158: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  summary.iloc[m][1] = round(presallary*0.87, 2)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\2816980495.py:158: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  summary.iloc[m][1] = round(presallary*0.87, 2)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\2816980495.py:159: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  summary.iloc[m+1][0] = round((sallary-canteen*(count_upto_25+count_above_25))*0.87,2)
C:\Users\nitys\AppData\Local\Temp\ipykernel_10984\2816980495.py:159: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  summary.iloc[m+1][0] = round((sallary-canteen*(count_upto_25+count_above_25))*0.87,2)

               14ое       29ое
Январь          NaN    4737.15
Февраль   207752.52  160815.15
Март       134815.2    4737.15
Апрель    165877.68  160815.15
Май        78982.08    9939.75
Июнь      230466.48  129599.55
Июль       47689.92   61965.75
Август    248231.88   72370.95
Сентябрь   27843.48  124396.95
Октябрь   254983.08   20344.95
Ноябрь      31320.0  171220.35
Декабрь   222726.96    4737.15
Январь     96086.28        NaN

In [ ]:
# def sum_list(lst):
#     result = []
#     for elem in lst:
#         if type(elem) is list:
#             result += sum_list(elem)
#         else: 
#             result.append(elem)
#     print(result)         
#         def mul(result):
#             if len(result) == 0 :
#                 return 0
#             else:
#                 return result[0]+mul(result[:1])
#     result = mul(result)
#     return result


def sum_list(lst):
    print('Im here')
    result = []
    for elem in lst:
        if type(elem) is list:
            result.append(sum_list(elem))
        else: 
            result.append(elem)
         
        def mul(result):
            
            print('internal function result: ', result)
            if len(result) == 0 :
                return 0
            else:
                return result[0]+mul(result[1:])
    
    print('К вызову функции mul пришли с результатом: ',result)
    
    result_2 = mul(result)
    print('result_2', result_2)
    return result_2

matrix = [
    [1, 1, 0],
    [4, 2, 1],
    [0, 2, 1]
]

print('Результат работы функции sum_list: ', sum_list(matrix))

In [3]:
a = [1,2,3,4]
a+=5
a=a[:1]
a

a=[1,2,3]

avg(a)

TypeError: 'int' object is not iterable

In [51]:
dict_b = {1:2, 3:0, 5:6}
di
for i in dict_a:
    if dict_a[i] == min(dict_a.values()):
        print(i)

3

In [56]:

    
def fara(**chart):
    return (sorted(chart.items(), key=lambda x: x[1]))[0][0]
    
fara(b=12, c=11, d =2)

'd'

In [ ]:
def sum_list(lst):
    result = []
    for elem in lst:
        if type(elem) is list:
            result += sum_list(elem)
        else: 
            result.append(elem) 
        def mul(result):
            if len(result) == 0 :
                return 0
            else:
                return result[0]+mul(result[:1])
    result == mul(result)
    return result

matrix = [
    [1, 1, 0],
    [4, 2, 1],
    [0, 2, 1]
]

sum_list(matrix)