In [9]:
import os
from pathlib import Path
import sqlite3

import pandas as pd
import sqlite3

# Подключение к базе данных
def get_db_data():
    db_path = 'travel_bot.db'  # или просто 'travel_bot.db' если нет папки data
    conn = sqlite3.connect(db_path)
    
    # Чтение всей таблицы в DataFrame
    df = pd.read_sql('SELECT * FROM travel_requests', conn)
    
    conn.close()
    return df

# Использование
df = get_db_data()
df.head()

,request_id,user_id,username,date,time,direction,time_window,active,delete_reason,created_at,updated_at
0,20250622163018650020,218553624,yuriynovikov,2025-06-22,15:00:00,Шер - Дом,30,0,Заявка не актуальна,2025-06-22T16:30:18.650020,2025-06-22 11:37:59
1,20250622163057036838,7776175645,yuriy_ds7,2025-06-22,15:20:00,Шер - Дом,25,0,Заявка не актуальна,2025-06-22T16:30:57.036838,2025-06-22 11:37:43
2,20250622164744262988,218553624,yuriynovikov,2025-06-22,15:00:00,Шер - Дом,50,1,None,2025-06-22T16:47:44.262988,2025-06-22 11:48:08