In [4]:
import os
from pathlib import Path
import sqlite3

import pandas as pd
import sqlite3

# Подключение к базе данных
def get_db_data():
    db_path = 'travel_bot.db'  # или просто 'travel_bot.db' если нет папки data
    conn = sqlite3.connect(db_path)
    
    # Чтение всей таблицы в DataFrame
    df = pd.read_sql('SELECT * FROM travel_requests', conn)
    
    conn.close()
    return df

# Использование
df = get_db_data()
df.head()

,request_id,user_id,contact_id,contact_type,date,time,pass_qnt,user_comment,departure_point,destination_point,time_window,active,delete_reason,created_at,updated_at
0,20250707023600242428,7776175645,yuriy_ds7,username,2025-07-02,14:30:00,2,2,а/п Шереметьево,а/п Домодедово,40,1,None,2025-07-07T02:36:00.242428,2025-07-07T02:36:29.401380

In [16]:
import os
from pathlib import Path
import sqlite3

import pandas as pd
import sqlite3

# Подключение к базе данных
def get_db_data():
    db_path = 'consents.db'  # или просто 'travel_bot.db' если нет папки data
    conn = sqlite3.connect(db_path)
    
    # Чтение всей таблицы в DataFrame
    df = pd.read_sql('SELECT * FROM consents', conn)
    
    conn.close()
    return df

# Использование
df = get_db_data()
df.head()

      user_id                consented_at     user_name    user_phone
0   218553624  2025-07-07T02:36:44.868406  yuriynovikov           NaN
1   467090140  2025-07-07T23:03:53.535452          None  7.961097e+10
2   896471888  2025-07-07T23:05:20.247512          None  7.983237e+10
3  7756203839  2025-07-07T02:38:24.559002          None  7.906947e+10
4  7776175645  2025-07-07T02:35:58.104920     yuriy_ds7           NaN

In [13]:
from datetime import datetime, timedelta

now = datetime.now().date().strftime('%d.%m.%Y')
now

'08.07.2025'

In [14]:
text_date = '08.07.2025'
text_date = text_date.replace('.', '/')

In [15]:
text_date

'08/07/2025'