In [3]:
import requests 
import pandas as pd 
import json
from datetime import datetime
import time
from internal_data import weather_api

lat = '56.29'
lon = '84.58'

# lat = '56.48'
# lon = '84.98'

# Дата и время в формате ДД-ММ-ГГГГ-ЧЧ
date_to_stamp = '01/03/2025/12'

        
time_stamp = int(time.mktime(datetime.strptime(date_to_stamp, "%d/%m/%Y/%H").timetuple()))


ts_arch = '1735808400'
url_arch = f'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&units={'metric'}&dt={time_stamp}&appid={weather_api}'

response_arch = requests.get(url_arch)

data_arch = response_arch.json()

In [12]:
data_arch_df = pd.DataFrame(data_arch['data'][0])

data_arch_df['main'] = data_arch_df['weather'][0]['main']
data_arch_df['description'] = data_arch_df['weather'][0]['description']
data_arch_df = data_arch_df.drop('weather', axis=1)

feats_to_convert = ['dt', 'sunrise', 'sunset']

# jan_df_conv = jan_df.copy()

def ts_convert(ts):
    return datetime.fromtimestamp(ts).strftime('%d-%m-%Y %H:%M:%S')

for feat in feats_to_convert:
    data_arch_df[feat] = data_arch_df[feat].apply(ts_convert)

display(data_arch_df)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,main,description
0,01-03-2025 12:00:00,01-03-2025 08:14:16,01-03-2025 18:54:12,-7.96,-12.41,1027,82,-10.21,98,2.47,214,Clouds,overcast clouds

In [ ]:
import requests 
import pandas as pd 
import json
from datetime import datetime
import time
from internal_data import weather_api

lat = '56.29'
lon = '84.58'

# lat = '56.48'
# lon = '84.98'

# Дата и время в формате ДД-ММ-ГГГГ-ЧЧ
date_to_stamp = '01/03/2025/12'

        
time_stamp = int(time.mktime(datetime.strptime(date_to_stamp, "%d/%m/%Y/%H").timetuple()))


ts_arch = '1735808400'
url_arch = f'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&units={'metric'}&dt={time_stamp}&appid={weather_api}'

response_arch = requests.get(url_arch)

data_arch = response_arch.json()


data_arch_df = pd.json_normalize(data_arch['data'][0])

data_arch_df

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,weather
0,1740805200,1740791656,1740830052,-7.96,-12.41,1027,82,-10.21,98,2.47,214,"[{'id': 804, 'main': 'Clouds', 'description': ..."

In [4]:
df_day_hour_arch = data_arch_df.copy()

In [10]:
df_day_hour_arch['weather'][0][0]['main']

'Clouds'

In [11]:
df_day_hour_arch['main'] = df_day_hour_arch['weather'][0][0]['main']
df_day_hour_arch['description'] = df_day_hour_arch['weather'][0][0]['description']
df_day_hour_arch = df_day_hour_arch.drop('weather', axis=1)

In [12]:
df_day_hour_arch

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,main,description
0,1740805200,1740791656,1740830052,-7.96,-12.41,1027,82,-10.21,98,2.47,214,Clouds,overcast clouds

In [ ]:
df_day_hour_arch['main'] = df_day_hour_arch['weather'][0]['main']
df_day_hour_arch['description'] = df_day_hour_arch['weather'][0]['description']
df_day_hour_arch = df_day_hour_arch.drop('weather', axis=1)