In [28]:
import requests 
import pandas as pd 
import json
from datetime import datetime
import time
from internal_data import weather_api

lat = '71.22'
lon = '72.04'

# lat = '56.48'
# lon = '84.98'

# Дата и время в формате ДД-ММ-ГГГГ-ЧЧ
date_to_stamp = '28/01/2026/12'

        
time_stamp = int(time.mktime(datetime.strptime(date_to_stamp, "%d/%m/%Y/%H").timetuple()))


ts_arch = '1735808400'
url_arch = f'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&units={'metric'}&dt={time_stamp}&appid={weather_api}'

response_arch = requests.get(url_arch)

data_arch = response_arch.json()

In [29]:
data_arch_df = pd.DataFrame(data_arch['data'][0])

data_arch_df['main'] = data_arch_df['weather'][0]['main']
data_arch_df['description'] = data_arch_df['weather'][0]['description']
data_arch_df = data_arch_df.drop('weather', axis=1)

feats_to_convert = ['dt', 'sunrise', 'sunset']

# jan_df_conv = jan_df.copy()

def ts_convert(ts):
    return datetime.fromtimestamp(ts).strftime('%d-%m-%Y %H:%M:%S')

for feat in feats_to_convert:
    data_arch_df[feat] = data_arch_df[feat].apply(ts_convert)

display(data_arch_df)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,wind_gust,main,description
0,28-01-2026 12:00:00,28-01-2026 10:54:17,28-01-2026 13:54:55,-24.27,-31.27,1021,98,-24.47,100,7.95,119,14.11,Clouds,overcast clouds

In [24]:
import requests 
import pandas as pd 
import json
from datetime import datetime
import time
from internal_data import weather_api

lat = '71.22'
lon = '72.04'

# lat = '56.48'
# lon = '84.98'

# Дата и время в формате ДД-ММ-ГГГГ-ЧЧ
# date_to_stamp = '01/03/2025/12'
date_to_stamp = '28/01/2026/12'

        
time_stamp = int(time.mktime(datetime.strptime(date_to_stamp, "%d/%m/%Y/%H").timetuple()))


ts_arch = '1735808400'
url_arch = f'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&units={'metric'}&dt={time_stamp}&appid={weather_api}'

response_arch = requests.get(url_arch)

data_arch = response_arch.json()


data_arch_df = pd.json_normalize(data_arch['data'][0])

data_arch_df

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,wind_gust,weather
0,1769583600,1769579657,1769590495,-24.27,-31.27,1021,98,-24.47,100,7.95,119,14.11,"[{'id': 804, 'main': 'Clouds', 'description': ..."

In [25]:
data_arch_df.dt = data_arch_df['dt'].apply(lambda x: datetime.fromtimestamp(x).strftime('%d-%m-%Y %H:%M:%S'))
data_arch_df

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,wind_gust,weather
0,28-01-2026 12:00:00,1769579657,1769590495,-24.27,-31.27,1021,98,-24.47,100,7.95,119,14.11,"[{'id': 804, 'main': 'Clouds', 'description': ..."

In [26]:
data_arch_df.weather[0]

[{'id': 804,
  'main': 'Clouds',
  'description': 'overcast clouds',
  'icon': '04d'}]

In [4]:
df_day_hour_arch = data_arch_df.copy()

In [10]:
df_day_hour_arch['weather'][0][0]['main']

'Clouds'

In [11]:
df_day_hour_arch['main'] = df_day_hour_arch['weather'][0][0]['main']
df_day_hour_arch['description'] = df_day_hour_arch['weather'][0][0]['description']
df_day_hour_arch = df_day_hour_arch.drop('weather', axis=1)

In [12]:
df_day_hour_arch

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,main,description
0,1740805200,1740791656,1740830052,-7.96,-12.41,1027,82,-10.21,98,2.47,214,Clouds,overcast clouds

In [ ]:
df_day_hour_arch['main'] = df_day_hour_arch['weather'][0]['main']
df_day_hour_arch['description'] = df_day_hour_arch['weather'][0]['description']
df_day_hour_arch = df_day_hour_arch.drop('weather', axis=1)

In [46]:
import requests 
import pandas as pd 
import json
from datetime import datetime
import time
from internal_data import weather_api


lat = '71.22'
lon = '72.04'

# lat = '56.48'
# lon = '84.98'

# Дата и время в формате ДД-ММ-ГГГГ-ЧЧ
# date_to_stamp_list = ['04/02/2026/12','28/01/2026/12', '21/01/2026/12', '14/01/2026/12', '07/01/2026/12', '24/12/2025/12', '17/12/2025/12']
date_to_stamp_list = ['04/02/2026/12','28/01/2026/12', '14/01/2026/12', '07/01/2026/12', '24/12/2025/12', '17/12/2025/12']



def diff_dates_archive(date_to_stamp):   
    time_stamp = int(time.mktime(datetime.strptime(date_to_stamp, "%d/%m/%Y/%H").timetuple()))


    ts_arch = '1735808400'
    url_arch = f'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&units={'metric'}&dt={time_stamp}&appid={weather_api}'

    response_arch = requests.get(url_arch)

    data_arch = response_arch.json()


    data_arch_df = pd.DataFrame(data_arch['data'][0])

    data_arch_df['main'] = data_arch_df['weather'][0]['main']
    data_arch_df['description'] = data_arch_df['weather'][0]['description']
    data_arch_df = data_arch_df.drop('weather', axis=1)

    # feats_to_convert = ['dt', 'sunrise', 'sunset']
    feats_to_convert = ['dt']
    

    # jan_df_conv = jan_df.copy()

    def ts_convert(ts):
        try:
            return datetime.fromtimestamp(ts).strftime('%d-%m-%Y %H:%M:%S')
        except:
            pass
        
    data_arch_df = data_arch_df.drop(columns=['sunrise', 'sunset'], errors='ignore')
        

    for feat in feats_to_convert:
        data_arch_df[feat] = data_arch_df[feat].apply(ts_convert)

    display(data_arch_df)
    
    time.sleep(2)
    
for list_date in date_to_stamp_list:
    diff_dates_archive(list_date)

,dt,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,wind_gust,main,description
0,04-02-2026 12:00:00,-17.96,-24.96,1010,97,-18.28,0,75,7902,6.74,229,12.83,Clouds,broken clouds

,dt,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,wind_gust,main,description
0,28-01-2026 12:00:00,-24.27,-31.27,1021,98,-24.47,100,7.95,119,14.11,Clouds,overcast clouds

,dt,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,main,description
0,14-01-2026 12:00:00,-10.96,-17.96,1032,89,-12.26,95,6.99,298,Clouds,overcast clouds

,dt,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,main,description
0,07-01-2026 12:00:00,-24.73,-31.73,1015,83,-26.59,93,7.99,27,Clouds,overcast clouds

,dt,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,main,description
0,24-12-2025 12:00:00,-31.35,-38.35,1012,80,-33.45,100,3.46,187,Clouds,overcast clouds

,dt,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,main,description
0,17-12-2025 12:00:00,-29.92,-36.92,1017,83,-31.7,100,5.18,37,Clouds,overcast clouds