In [3]:
import pandas as pd

data = pd.read_csv('data/submission_v3.csv')

data_2 = pd.read_csv('data/submission_v3_correct.csv')

In [5]:
data.isna().sum()

id                             0
Listening_Time_minutes    100010
dtype: int64

In [11]:
data_3 = pd.read_csv('data/train.csv')

data_3.shape

(750000, 12)

In [12]:
data_3.head(1)

,id,Podcast_Name,Episode_Title,Episode_Length_minutes,Genre,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes
0,0,Mystery Matters,Episode 98,NaN,True Crime,74.81,Thursday,Night,NaN,0.0,Positive,31.41998

In [14]:
data_3['Listening_Time_minutes'].median()

43.37946

In [4]:
data_2

            id  Listening_Time_minutes
0       750000               53.164524
1       750001               18.192844
2       750002               45.522026
3       750003               78.666405
4       750004               51.418568
...        ...                     ...
249995  999995               11.050247
249996  999996               58.126976
249997  999997                6.595642
249998  999998               75.153140
249999  999999               58.543690

[250000 rows x 2 columns]

In [10]:
import numpy as np

np.log(0.05)

-2.995732273553991